.portfolio__container {
  position: relative;
  background-color: var(--mainBgColor);
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.portfolio__wrapper {
  display: flex;
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 20rem;
  margin-bottom: 3rem;
}

.portfolio__columns {
  flex: 50%;
  flex-direction: row;
  border: 1px solid black;
}

.portfolio__divider-line {
  width: 12rem;
  height: 0.5rem;
  background-color: var(--mainTxtColor);
  margin: 2rem 20rem 2rem 20rem;
}

.portfolio__intro-title {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--mainTxtColor);
  letter-spacing: 2px;
  padding-bottom: 2rem;
  margin: 0 20rem;
}

.portfolio__project-img {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.portfolio__project-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.portfolio__col-1-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 7rem;
}

.portfolio__project-tite {
  /* padding-top: 2rem; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 3rem;
}

.portfolio__project-description {
  font-size: 2rem;
  padding-top: 1rem;
  /* padding: 2rem; */
  text-align: justify;
  text-justify: inter-word;
}

.portfolio__proect-techstack-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__proect-techstack {
  font-size: 1rem;
  padding: 1rem 1rem 2rem 0rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.portfolio__project-btn-wrapper {
  display: flex;
  flex-direction: row;
}

.portfolio__project-btn {
  margin-right: 3rem;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  width: 12rem;

  border: none;
  background-color: var(--mainTxtColor);
  padding: 0.7rem 2.5rem;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 0 2px rgb(87, 86, 86);
  text-transform: uppercase;
}

.portfolio__project-btn:hover {
  background-color: var(--mainBgColor);
  color: black;
  box-shadow: 2px solid rgb(87, 86, 86);
}
