.about__container {
  background-color: var(--mainTxtColor);
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
}

.about__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 20rem;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 0rem;
  /* background-color: yellow; */
}

.about__columns {
  /* margin-top: 7rem; */
  flex: 50%;
}

.about__text-area {
  padding-right: 5rem;
}

.about__divider-line {
  width: 12rem;
  height: 0.5rem;
  background-color: var(--mainBgColor);
  margin: 0rem 0 2rem 0;
}

.about__intro-title {
  position: relative;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--mainBgColor);
  letter-spacing: 2px;
}

.about__intro-description {
  margin-top: 2rem;
  font-size: 1.9rem;
  color: var(--mainBgColor);
  text-align: justify;
  text-justify: inter-word;
}

.about__description-p {
  font-size: 1.8rem;
}

.about__follow-btn {
  margin-top: 4rem;
  border: none;

  background-color: var(--mainBgColor);
  color: black;
  /* background-color: #266150; */
  padding: 0.7rem 2.5rem;

  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 0 2px rgb(242, 245, 234);
  text-transform: uppercase;
}

.about__follow-btn:hover {
  background-color: var(--mainTxtColor);
  color: white;
  box-shadow: 2px solid rgb(242, 245, 234);
}

.about__img-area {
  /* margin-top: 15rem; */
  display: flex;
  position: relative;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  background-color: red;
}

.about__img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

@media screen and (max-width: 1100px) {
  .about__wrapper {
    /* width: 100%;
    height: 100%; */
    margin-bottom: 0rem;
    margin: 0 2rem;
    flex-direction: column;
  }

  .about__columns {
    margin-top: 0rem;
    background-color: red;
  }

  .about__img-area {
    position: relative;
    width: 100%;
    height: auto;
    /* height: 100%; */
  }
}

@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 1250px) {
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 768px) {
}
