.about__container {
  background-color: var(--mainTxtColor);
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
}

.about__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 20rem;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 0rem;
}

.about__columns {
  flex: 50%;
}

.about__text-area {
  padding-right: 5rem;
}

.about__divider-line {
  width: 12rem;
  height: 0.5rem;
  background-color: var(--mainBgColor);
  margin: 0rem 0 2rem 0;
}

.about__intro-title {
  position: relative;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--mainBgColor);
  letter-spacing: 2px;
}

.about__intro-description {
  margin-top: 2rem;
  font-size: 1.9rem;
  color: var(--mainBgColor);
  text-align: justify;
  text-justify: inter-word;
}

.about__description-p {
  font-size: 1.8rem;
}

.about__follow-btn {
  margin-top: 4rem;
  border: none;

  background-color: var(--mainBgColor);
  color: black;
  /* background-color: #266150; */
  padding: 0.7rem 2.5rem;

  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 0 2px rgb(242, 245, 234);
  text-transform: uppercase;
}

.about__follow-btn:hover {
  background-color: var(--mainTxtColor);
  color: white;
  box-shadow: 2px solid rgb(242, 245, 234);
}

.about__img-area {
  /* display: flex;
  position: relative; */
  /* background-color: red; */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  height: 100%;

  width: 100%;
}

.about__img {
  /* width: 100%;
  height: 80%;
  object-fit: contain; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: start;
  align-items: start;
  text-align: start;
  /* max-height: 50rem; */
}

@media screen and (max-width: 1450px) {
  .about__wrapper {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 1250px) {
  .about__wrapper {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .about__wrapper {
    margin: 0rem 2rem;
  }

  .about__intro-title {
    font-size: 3rem;
  }

  .about__text-area {
    padding-right: 2rem;
  }

  .about__follow-btn {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about__wrapper {
    margin: 0rem 2rem;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start;
    text-align: start; */
    /* background-color: red; */
  }

  .about__columns {
    /* margin-top: 7rem; */
    width: 100%;
  }

  .about__text-area {
    width: 100%;
  }

  .about__intro-title {
    /* position: relative; */
    font-size: 3rem;
  }

  .about__follow-btn {
    margin-top: 2rem;
  }

  .about__img-area {
    /* position: relative;
    width: 100%;
    height: auto;
    margin-top: 2rem; */
    margin-bottom: 2rem;
    margin-top: 5rem;
  }

  .about__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    justify-content: start;
    align-items: start;
    text-align: start;
  }
}
