.techstack__container {
  background-color: var(--mainTxtColor);
  color: var(--mainBgColor);
  /* width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  align-items: center; */
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(var(--mainTxtColor) 97%, var(--mainBgColor)); */
}

.techstack__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 20rem;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 0rem;
  /* background-color: red; */
}

.techstack__columns {
  flex: 50%;
}

.techstack__title-area {
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.techstack__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  /* color: var(--mainTxtColor); */
  letter-spacing: 2px;
}

.techstack__divider-line {
  width: 12rem;
  height: 0.5rem;
  background-color: var(--mainBgColor);
  margin: 0rem 0 2rem 0;
}

.techstack__follow-btn {
  border-radius: 50%;
  margin-top: 3rem;
  border: none;
  background-color: var(--mainBgColor);
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  /* color: white; */
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 0 2px var(--mainBgColor);
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.techstack__follow-btn:hover {
  background-color: rgb(84, 99, 112);
  color: white;
  border: 1px solid white;
}

.techstack__list-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  /* grid-column-gap: 10px; */
  grid-row-gap: 40px;
  justify-content: space-between;
  margin-top: 0rem;
  height: auto;
  padding-bottom: 5rem;
  /* background-color: aqua; */
  /* grid-row-gap: 0px; */
}

.techstack__item-wrapper {
  height: 100%;
  width: 100%;
  /* background-color: rgb(55, 134, 134); */
  justify-content: center;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  /* background-color: violet; */
  border: 0.5px solid rgb(60, 60, 60);
  padding: 1rem 0;
  border-radius: 5px;
}

.techstack__item-title {
  /* background-color: red; */
  height: auto;
  font-size: 2rem;
  z-index: 1000;
  width: auto;
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
  /* justify-content: flex-start;
  align-items: flex-start; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}

.techstack__styled-comp,
.styled-comp__span {
  line-height: 1.1;
  font-size: 1.8rem;
}

.techstack__icon-html,
.techstack__icon-css,
.techstack__icon-js,
.techstack__icon-react,
.techstack__icon-node,
.techstack__icon-sass,
.techstack__icon-github,
.techstack__icon-styled-comp {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6rem;
}

.techstack__icon-styled-comp {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -0.5rem;
  /* background-color: red; */
  height: 50%;
}

.styled-comp__span {
}

@media screen and (max-width: 1450px) {
  .techstack__wrapper {
    margin: 0 10rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    /* margin-top: 3rem; */
  }
}

@media screen and (max-width: 1250px) {
  .techstack__wrapper {
    margin: 0 5rem;
    padding-top: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  .techstack__wrapper {
    margin: 0 2rem;
  }

  .techstack__title {
    font-size: 3rem;
  }

  .techstack__container {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .techstack__wrapper {
    display: flex;

    /* margin: 0 2rem; */
    flex-direction: column;
    margin: 0rem 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  .techstack__follow-btn {
    display: none;
  }

  .techstack__title-area {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 3rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    /* background-color: red; */
  }

  .techstack__list-area {
    width: 100%;
    grid-row-gap: 0px;
  }

  .techstack__item-title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 568px) {
  .techstack__container {
    padding-top: 5rem;
  }

  .techstack__wrapper {
    /* padding-top: 0rem; */
  }

  .techstack__list-area {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0rem;
    padding-bottom: 2rem;
    grid-row-gap: 0px;
  }

  .techstack__item-title {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 451px) {
}

@media screen and (max-width: 362px) {
  .techstack__item-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 281px) and (max-height: 654px) {
  .techstack__item-title {
    font-size: 1.4rem;
  }
}
