.contact__container {
  display: flex;
  position: relative;
  background-color: var(--mainBgColor);
  color: var(--mainTxtColor);
  width: 100%;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
}

.contact__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 20rem;
  max-width: 1300px;
  /* justify-content: center;
  align-items: center; */
  padding-bottom: 6rem;
  padding-top: 0rem;
}

.contact__columns {
  flex: 50%;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact__title-area {
  position: relative;
  padding-right: 5rem;
  padding-bottom: 5rem;
  /* background-color: red; */
}

.contact__divider-line {
  width: 12rem;
  height: 0.5rem;
  background-color: var(--mainTxtColor);
  margin: 0rem 0 2rem 0;
}

.contact__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  /* color: var(--mainTxtColor); */
  letter-spacing: 2px;
  padding-bottom: 2rem;
}

.contact__subtext {
  font-size: 2rem;

  padding-bottom: 2em;
}

.contact__items {
  text-decoration: none;
  list-style: none;
  font-size: 1.7rem;
  line-height: 2.2;
  color: black;
}

.contact__item-name {
  display: inline-block;
  width: 12rem;
  color: black;
  font-size: 2rem;
  /* background-color: green; */
}

.contact__icons {
  position: relative;
  color: black;
  margin-right: 1rem;
  margin-left: 0rem;
  top: 0.5vh;
  font-size: 1.8rem;
}

.contact__email-item {
}

.contact__email {
}

.contact__linkedin-item {
}

.contact__linkedin {
}

.contact__github-item {
}

.contact__github {
}

.contact__twitter-item {
}

.contact__twitter {
}

.contact__form-area {
  display: flex;
  justify-content: flex-end;
  padding-top: 8rem;
  /* background-color: red; */
}

.contact__linkedin-item:hover,
.contact__twitter-item:hover,
.contact__github-item:hover,
.contact__email-item:hover {
  text-decoration: underline;
}

.contact__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}

input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.contact__form-input {
  font-size: 1.5rem;
}

.contact__form-input:focus {
  border: 2px solid var(--mainTxtColor);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 500px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  resize: vertical;
  font-size: 1.5rem;
}

textarea:focus {
  border: 2px solid var(--mainTxtColor);
}

label {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--mainTxtColor);
}
.contact__input-submit {
  margin-top: 2rem;
  cursor: pointer;
  background: var(--mainTxtColor);
  color: white;
  border: none;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  padding: 5px 15px;
}

.contact__input-submit:before {
  content: "Type your message.";
  margin-right: 0.6em;
  color: red;
  position: absolute;
}
.contact__input-submit:focus:before {
  width: 0;
  content: "";
}

@media screen and (min-width: 1600px) and (min-height: 841px) {
  .contact__container {
    padding-top: 10rem;
    padding-bottom: 5rem;
    /* background-color: red; */
  }
  .contact__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 20rem;
    max-width: 1300px;
    /* justify-content: center;
    align-items: center; */
    padding-bottom: 6rem;
    padding-top: 0rem;
  }

  .contact__items {
    text-decoration: none;
    list-style: none;
    font-size: 1.7rem;
    line-height: 3;
    color: black;
  }
}

@media screen and (max-width: 1450px) {
  .contact__wrapper {
    margin: 0 10rem;
  }
}

@media screen and (max-width: 1250px) {
  .contact__wrapper {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .contact__wrapper {
    margin: 0rem 2rem;
  }

  .contact__title-area {
    position: relative;
    padding-right: 2rem;
    padding-bottom: 5rem;
    /* background-color: red; */
  }

  .contact__item-name {
    width: 8.5rem;

    font-size: 1.8rem;
    /* background-color: green; */
  }

  .contact__items {
    font-size: 1.5rem;
  }

  .contact__subtext {
    font-size: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  .contact__title {
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  .contact__form-area {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    /* background-color: red; */
  }
}

@media screen and (max-width: 768px) {
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
  }

  .contact__columns {
    /* flex: 50%; */
    width: 100%;
  }

  .contact__title-area {
    padding-bottom: 0rem;
    /* background-color: red; */
  }
}
