.navbar-header {
  display: flex;

  position: fixed;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 2rem;

  background-color: rgba(242, 245, 234);
  border-bottom: 2.2px groove rgba(87, 86, 86, 0.4);
  font-size: 3rem;
  z-index: 100;
}

.navbar-container {
  display: flex;
  width: 100%;
  margin: 0 14vw;
  margin: 18rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.nav-menu {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.nav-item {
  text-decoration: none;
}

nav {
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;

  align-items: center;
  justify-content: center;
  margin: 0 2.5rem;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(87, 86, 86);
}

.nav-contact-btn {
  border: 2px solid rgb(87, 86, 86);
  padding: 0.5rem 2.5rem;
  transition: all 0.5s ease-out;

  position: relative;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;

  align-items: center;
  justify-content: center;
  margin: 0 2.5rem;
  cursor: pointer;
}

.nav-contact-btn:hover {
  color: white;
  background-color: rgb(87, 86, 86);
}

.hamburger {
  display: none;
}

.active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.nav-link-hvr:hover {
  color: white;
}

.navbar-logo {
  font-size: 2.5rem;
  color: var(--mainTxtColor);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .navbar-container {
    margin: 0;
  }
  .navbar-header {
    max-width: 100%;
    /* background-color: rgba(0, 0, 0, 0.9); */
  }

  .navbar-header .navbar-container {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    flex-direction: column;
    background-color: rgba(242, 245, 234);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }
}
