* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

:root {
  --mainBgColor: rgb(242, 245, 234);

  --mainTxtColor: rgb(44, 54, 63);

  /* --mainTxtColor: rgb(87, 86, 86); */
  /* --mainBgColor: #fcf6f5ff; */
  /* --mainBgColor: #fdf8f5;
  --mainTxtColor: #266150; */
}
/* 
body {
  overflow: scroll;
} */
body {
  overflow-y: scroll; /* Show vertical scrollbar */
}

.homepage__container,
.about__container,
.portfolio__container,
.techstack__container,
.contact__container {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
}

.homepage__wrapper,
.about__wrapper,
.techstack__wrapper,
.contact__wrapper {
  /* margin-top: 0rem; */
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 20rem;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
